a {
    text-decoration:none;
    color:#f5f1de;
    padding:1em
}

a:hover {
    text-decoration:none;
    color:#a78955
}

body {
    font-family:Helvetica,arial,freesans,clean,sans-serif;
    overflow-y:scroll;
    background:url(wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}

#nav {
    font:16pt/1.5 'Myriad Pro',Calibri,Helvetica,Arial,sans-serif;
    text-align:center;
    font-size:18pt;
    padding-top:.5em;
    display:inline-block;
    margin:0 auto
}

#topheader {
    float:right;
    color:#f5f1de;
    font-size:14px;
    font-style:italic;
    padding-right: 10px;
}

.header {
    text-align:center;
    color:#454545;
    font-weight:400;
    padding-top:1.5em;
    padding-bottom:.2em;
    font-size:48pt;
    max-width:740px;
    margin:0 auto;
    border-bottom:#888888 solid 1px
}

.main {
    color:#454545;
    max-width:640px;
    margin:0 auto;
    font-size:20pt;
    padding-top:1em;
    padding-bottom:2em
}

#img {
    text-align:center
}

#img a {
    text-align:center;
    color:#454545;
    display:block;
    font:16pt/1.5 'Myriad Pro',Calibri,Helvetica,Arial,sans-serif
}

#img a:hover {
    text-decoration:none;
    color:#454545
}

#wrapper {
    padding-right:210px
}