body {
    font-family:helvetica;
    background:#f8f8f8;
    max-width:640px;
    margin:0 auto
}

#header {
    font-size:72px;
    text-align:center;
    font-weight:400;
    padding-top:290px
}

#header a {
    text-decoration:none;
    color:#4c4c4c
}

#header a:hover {
    color:#0c0c0c;
    transition:.4s
}

#subheader p {
    text-align:center;
    color:#a6a6a6;
    font-size:28px
}