html {
    position:relative;
    min-height:100%;
    width:100%
}

body {
    font-family:Helvetica,arial,freesans,clean,sans-serif;
    overflow-y:scroll;
    margin:0 0 100px;
    background-color: #fff
}

a {
    text-decoration:none;
    color:#fff;
    padding:.5em
}

a:hover {
    text-decoration:none;
    color:#c3cb71
}

.navcontainer {
    background-color:#0392cf;
    width:100% -webkit-box-shadow: 0 3px 14px -3px rgba(50,50,50,0.63);
    -moz-box-shadow:0 3px 14px -3px rgba(50,50,50,0.63);
    box-shadow:0 3px 14px -3px rgba(50,50,50,0.63)
}

.nav {
    font:16pt/1.5 'Myriad Pro',Calibri,Helvetica,Arial,sans-serif;
    font-size:18pt;
    padding-top:.2em;
    text-align:left;
}

.nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    padding-left:.5em
}

.nav ul li {
    display:inline;
    font-family:"Myriad Pro",Calibri,Helvetica,Arial,sans-serif
}

.container {
    padding-top:5em
}

.header {
    color:#00aedb;
    font-weight:400;
    font-size:48pt;
    text-align:center;
    margin:0 auto
}

.main {
    color:#00aedb;
    max-width:640px;
    margin:0 auto;
    font-size:20pt;
    padding-top:.5em
}

.img {
    text-align:center;
    padding-top: .5em;
}

.img img {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin:0 auto;
    max-width:100%;
    height:auto -webkit-box-shadow: 3px 1px 20px -3px rgba(50,50,50,0.63);
    -moz-box-shadow:3px 1px 20px -3px rgba(50,50,50,0.63);
    box-shadow:3px 1px 20px -3px rgba(50,50,50,0.63)
}

.img a {
    display:table;
    padding:.5em;
    font-size:16pt;
    color:#fff;
    background:#ae5a41;;
    margin:1em auto;
    border-radius:3px
}

.img a:hover {
    text-decoration:none;
    background:#559e83
}


.footer {
    background-color:#5a5255;
    position:absolute;
    left:0;
    bottom:0;
    height:3em;
    width:100%;
    -webkit-box-shadow:0 -3px 8px -3px rgba(50,50,50,0.63);
    -moz-box-shadow:0 -3px 8px -3px rgba(50,50,50,0.63);
    box-shadow:0 -3px 8px -3px rgba(50,50,50,0.63)
}

.footer p {
    font-family:"Plantin","Plantin Pro","Book Antiqua",Georgia,"Times New Roman",serif;
    font-size:12pt;
    font-weight:400;
    text-transform:uppercase;
    text-align:right;
    padding-right:1em;
    color:#f4f4f4
}

